.Sidebar-Card{
    background-color: #E8E8E8;
    color: #202C39;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #EF2D56;
}
.Sidebar-Card:hover{
    cursor: pointer;
}
.Sidebar-Card-Img{
    width: 200px;
}