.Sidebar-Card {
  background-color: #e8e8e8;
  color: #202c39;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ef2d56;
}
.Sidebar-Card:hover {
  cursor: pointer;
}
.Sidebar-Card-Img {
  min-height: 200px;
  min-width: 200px;
}
