#pic{
  transform: translate(-10%, -50%);
}

.menuButton:hover{
background-color: #c1c1c1;
  animation-name: sideBarMenuButtonAnimation;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
}
.menuButton:active{
  background-color: #b1b1b1;
  transform: scale(1.02, 1.02);
}
@keyframes sideBarMenuButtonAnimation {
  from {width: 30px;}
  to {width: 40px;}
}
.menuButton{
  transform: scale(1, 1);
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-bottom-right-radius: 30%;
  border-top-right-radius: 5%;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);

}

.sidebarContainerAlpha{
  display: flex;
  flex-direction: row-reverse;
}

.Sidebar-Container{
  position: sticky;
  min-height: 92.5vh;
  width: 250px;
  background-color: #202C39;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  box-shadow: 7px 0 10px -2px #888;
  padding-top: 10px;

}
.Sidebar-Card{
  background-color: #E8E8E8;
  color: #202C39;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #EF2D56;
}
.Sidebar-Card:hover{
  cursor: pointer;
}
.Sidebar-Card-Img{
  width: 200px;
}
.Sidebar-TodaysEvents-Cards{
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-y: scroll;
  max-height: 82vh;
  overscroll-behavior: contain;
  margin-left: 16px;
}
.Sidebar-RecentlyAdded-Cards{
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-y: scroll;
  max-height: 82vh;
  overscroll-behavior: contain;
}
.Sidebar-Texts{
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  cursor: pointer;
  gap:1px;
  margin: 2px 0 5px 0;
  padding-bottom: 0.75rem;
  border-bottom: 2px solid #FFFFFF;
}
.Sidebar-TodaysEvents-Text:hover{
  background-color: #374a64;
}
.Sidebar-TodaysEvents-Text:active{
  background-color: #5c7ba6;
}
.Sidebar-RecentlyAdded-Text:hover{
  background-color: #374a64;
}
.Sidebar-RecentlyAdded-Text:active{
  background-color: #5c7ba6;
}
.Sidebar-RecentlyAdded-Text{
  padding: 0.5rem 0.75rem 0.5rem 0.75rem ;
  border-radius: 8px;
}
.Sidebar-TodaysEvents-Text{
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border-radius: 8px;
}
::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-thumb{
  background-color: #e8e8e8;
  border-radius: 35px;
  margin: 0 4px 0 4px;
}