.sidebar {
    position: sticky;
    min-height: 90vh;
    width: 250px;
    background-color: #202C39;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 7px 0 10px -2px #888;
    padding-top: 10px;
    gap: 30px;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
}

.sidebar-card:hover {
    cursor: pointer;
}

.sidebar-card-img {
    width: 200px;
}

.sidebar-todaysevents-cards {
    display: flex;
    flex-direction: column;
    max-height: 82vh;
    margin-bottom: 40px;
}

.sidebar-recentlyadded-cards {
    display: flex;
    flex-direction: column;
    max-height: 82vh;
}

.sidebar-texts {
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    cursor: pointer;
    gap: 1px;
    margin: 2px 0 5px 0;
    padding-bottom: 0.75rem;
    border-bottom: 2px solid #FFFFFF;
}

.sidebar-todaysevents-text:hover {
    background-color: #374a64;
}

.sidebar-todaysevents-text:active {
    background-color: #5c7ba6;
}

.sidebar-recentlyadded-text:hover {
    background-color: #374a64;
}

.sidebar-recentlyadded-text:active {
    background-color: #5c7ba6;
}

.sidebar-recentlyadded-text {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border-radius: 8px;
}

.sidebar-todaysevents-text {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border-radius: 8px;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-thumb {
    background-color: #e8e8e8;
    border-radius: 35px;
    margin: 0 4px 0 4px;
}