.startPage {
  display: flex;
  justify-content: space-around;

  flex-wrap: wrap;
  min-width: 800px;
  margin: auto;
}
.sect-cards {
  margin: 20px;
}
@media only screen and (max-width: 764px) {
  .startPage {
    min-width: 400px;
  }
}