.startPage {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;

}
.sect-cards {
    margin: 20px;
}