:root {
  --primary-color: #ff6b81;
  --white-color: #ffffff;
  --black-color: #000000;
  --light-grey-color: #e6e6e6;
  --grey-color: #aaaaaa;
  --dark-grey-color: #8d8d8d;
  --light-green-color: #4caf50;
  --dark-green-color: #388e3c;
  --light-red-color: #f44336;
  --dark-red-color: #d32f2f;
  --light-blue-color: #03a9f4;
  --dark-blue-color: #5e5ee9;
  --light-orange-color: #ff9800;
  --dark-orange-color: #f57c00;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top right, #e59c00, #fae283);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 20rem;
  background-color: var(--white-color);
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 0 0 0.5rem 0.1rem var(--grey-color);
  gap: 0;
}

.navbar__nav__list {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  list-style: none;
}

.nav_flex_1 {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}



.nav_flex_2 {
  display: flex;
  align-items: center;
  width: 100%;

}

.navbar__nav__logo__icon {
  margin-left: 50px;
  width: 8rem;
}

.image_header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.Navbar-search-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  height: 15rem;
}

.navbar__nav__list li {
  padding: 0 3rem;
}

.navbar__nav__list li a {
  color: var(--dark-grey-color);
  padding: 1rem;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  transition: height 4s;
}



.navbar__nav__list li a:hover {
  border-bottom: 1px solid var(--primary-color);
}

.navbar__nav__list li a.active {
  border-bottom: 2px solid var(--primary-color);
  color: var(--black-color);
  font-weight: 600;
}

.navbar__nav__list .login_hover a:hover {
  border-bottom: none;
}

.navbar__nav__list .login_hover a.active {
  border-bottom: none;

}


.navbar__nav__list,
.header,
.navbar__nav__list {
  padding: 0;
  margin: 0;
  gap: 0;
}

.login {
  position: relative;
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #c0c0c0;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login:hover {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.iconBars {
  position: absolute;
  left: 8px;

  border: none;
  outline: none;
  background-color: inherit;
  font-size: 18px;
  color: #7e7e7e;
}
.iconUser {
  position: absolute;
  right: 8px;
  border: none;
  outline: none;
  background-color: inherit;
  font-size: 28px;
  color: #7e7e7e;
}

.Navbar-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_input {
  position: absolute;
  height: 40px;
  width: 100%;
  width: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  color: #7e7e7e;
  z-index: 100;
}

.Navbar-search-input {
  position: absolute;
  border-radius: 25px;
  height: 40px;
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0 70px;
  font-size: 16px;
  color: #e41010;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  /* z-index: 100; */
}
.searchIcon_search {
  position: absolute;
  background-color: red;
  right: 1%;
  padding: 10px;
  color: #fff;
  border-radius: 20px;
  z-index: 2;
}

.responsive{
  display: none;
}


@media (max-width: 768px) {
  .navbar__nav__logo__icon {
    display: none;
  }
  .faCalendar,
  .faUser,
  .faHome {
    display: block;
  }
  .login:hover {
    box-shadow: none;
  }
  .login {
    display: none;
  }
  .navbar__nav__list li a:hover {
    border-bottom: none;
  }
  .navbar__nav__list li a.active {
    border-bottom: none;
  }

  .responsive {
    display: block;
    width: 100%;
    position: fixed;
  }
  .Navbar-search-image,
  .iconBars {
    display: none;
  }
  .faCalendar,
  .faUser,
  .faHome {
    font-size: 26px;
    color: #b3b3b3;
    border-radius: 50%;
  }


  .faCalendar:hover,
  .faUser:hover,
  .faHome:hover {
    color: #000000;
  }

  .faCalendar:active,
  .faUser:active,
  .faHome:active {
    color: #000000;
  }

  .navbar__nav__home {
    display: block;
  }

  .header {
    height: auto;
    width: 100%;
    position: fixed;
  }

  .navbar__nav__responsive {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }

  .calendar_logo {
    border: none;
  }

  .calenderLogo {
    color: #bdbdbd;
    background-color: #ffffff;
    font-size: 35px;
  }

  .navbar__nav {
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4);
    position: fixed !important;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    z-index: 100;
  }
  .navbar__nav__home {
    display: block;
  }

  .login {
    border: none;
  }

  .search_input {
    position: relative;
    /* top: 4rem; */
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #7e7e7e;
    z-index: 100;
  }

  .Navbar-search-input {
    position: absolute;
    padding: 15px 20px;
    border-radius: 25px;
    width: 90%;
    background-color: #ffffff;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }

  .searchIcon_search {
    position: absolute;
    background-color: red;
    right: 6%;
    padding: 8px;
    color: #fff;
    border-radius: 20px;
    z-index: 1;
  }
}
