.Sidebar-Container{
  position: sticky;
  top: 50px;
  min-height: 93vh;
  width: 250px;
  background-color: #202C39;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  box-shadow: 7px 0 10px -2px #888;
  padding-top: 10px;
}
.Sidebar-Card{
  background-color: #E8E8E8;
  color: #202C39;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #EF2D56;
}
.Sidebar-Card:hover{
  cursor: pointer;
}
.Sidebar-Card-Img{
width: 200px;
}
.Sidebar-TodaysEvents-Text{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  width: 250px;
  border-bottom: 2px solid #E8E8E8;
}
.Sidebar-TodaysEvents-Cards{
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-y: scroll;
  max-height: 38vh;
  overscroll-behavior: contain;
}
.Sidebar-TodaysEvents-Cards::-webkit-scrollbar {
  display: none;
}

.Sidebar-RecentlyAdded-Text{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  width: 250px;
  border-bottom: 2px solid #E8E8E8;
}
.Sidebar-RecentlyAdded-Cards{
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-y: scroll;
  max-height: 38vh;
  overscroll-behavior: contain;
}
.Sidebar-RecentlyAdded-Cards::-webkit-scrollbar {
  display: none;
}