.Event-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 100vw;
  min-width: 100vh;
}

.Event-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-width: 400px;
  max-width: 1200px;
  flex: 1;
  min-height: fit-content;
  outline: 1px solid black;
}
