body.active-modal {
    overflow-y: hidden;
    overflow-x: hidden;
}

.div-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
    cursor: pointer;
}
.div-modal:hover {
    text-decoration: underline;
}


.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background: rgba(49,49,49,0.8);
    z-index: -10;
}
.modal-content {
    display: flex;
    align-items: center;
    line-height: 1.4;
    background: #202C39;
    color: #E8E8E8;
    padding: 14px 28px;
    border-radius: 10px;
    max-width: 600px;
    min-width: 300px;
    overflow: auto;
    height: 75vh;
    margin-top: 4vh;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    cursor: pointer;
}
.close-modal:hover {
    text-decoration: underline;
}
#chris {
    height: 400px;
    width: 300px;
}
#modal-pic {
    height: fit-content;
    width: fit-content;
}
.modal-div {
    font-size: 30px;
    padding-right: 4vw;
}
.modal-text {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    padding-left: 4vw;
    min-height: 60vh;
}
.modal-info {
    padding-top: 3vh;
}