@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

.main_app {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 98vw; */
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  margin-top: 7.5rem;
}

@media (max-width: 768px) {
  .main_app {
    margin-top: 10rem;
  }
}

.header_app {
  overflow-x: hidden;
}
