@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

.main_app {
  width: 100%;
  height: 100%;
  padding-top: 80px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns:repeat(5, 1fr);
  grid-template-areas: "sidebar sidebar";
}

@media (max-width: 768px) {
  .main_app {
    margin-top: 8rem;
  }
}

.outlet_app {
  display:flex;
  justify-content: center;
  align-items: center;
}