:root {
  --primary-color: #ff6b81;
  --secondary-color: #616161;
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-color: #aeaeae;
  --light-grey-color: #bfbfbf;
  --dark-grey-color: #474747;
  --light-green-color: #4caf50;
  --dark-green-color: #388e3c;
  --light-red-color: #f44336;
  --dark-red-color: #d32f2f;
  --light-blue-color: #03a9f4;
  --dark-blue-color: #0288d1;
  --light-orange-color: #ff9800;
  --dark-orange-color: #f57c00;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

.container_calendar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  overflow-x: hidden;
}
@media screen and (max-width: 768px) {
  .container_calendar {
    margin-top: 40px;
  }
}
/*! Events Card into Calendar component */
.calendar {
  display: flex;
  flex: 1;
  min-width: 768px;
  max-width: 1200px;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 1.8rem;
  line-height: 1.2;
}

.date_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}

.container_card {
  margin-top: 10px;
  width: 95vw;
  position: relative;
  height: 16rem;
  max-width: fit-content;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  gap: 20px;
}

/*! Date Calendar Card  */

.artist {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  min-width: fit-content;
  height: 100%;
  padding: 20px 0 0 10px;
}

.arrow {
  position: absolute;
  left: 6rem;
  color: var(--grey-color);
  font-size: 22px;
}


.date {
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary-color);
  text-transform: uppercase;
  line-height: 1.2;
}

.event__month_year {
  display: flex;
  font-size: 10px;
  font-weight: 600;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.time {
  margin-top: 14px;
  font-size: 12px;
  font-weight: 600;
  color: var(--dark-grey-color);
}

/*! images Calendar Card  */
.container_image {
  width: 28rem;
  height: 100%;
  margin: 0;
}
.image {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
  opacity: 1;
}

/*! Event Calendar Card title and description  */

.event__title {
  position: absolute;
  display: inline;
  margin: 0 16px;
  top: 10px;
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.information {
  top: 50px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: var(--dark-grey-color);
  margin-bottom: 5px;
}

.location {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  color: var(--black-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  bottom: 0;
}

.location span {
  margin: 5px;
  font-size: 24px;
  color: var(--black-color);
  font-weight: 100;
}

.location p:nth-child(3) {
  color: var(--grey-color);
}

/*! Event Calendar Card payments button  */

.payment__button {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  padding: 18px;
  width: 16rem;
}

.calendar-button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  width: 400px;
}

.button {
  position: relative;
  font-size: 12px;
  font-weight: 600;
  color: var(--white-color);
  background-color: var(--light-red-color);
  text-transform: uppercase;
  padding: 10px 28px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.5s ease;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: var(--dark-red-color);
}

.button:active {
  background-color: var(--dark-red-color);
  transform: scale(0.95);
}

.highlight {
  position: absolute;
  z-index: 1;
  font-weight: bolder;
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.2, 1.1) skewX(-15deg);
  background-image: var(--gradient-primary);
}

@media (max-width: 768px) {
  .container_calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }
  .container_card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 100%;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
    gap: 0;
  }
  .container_image {
    width: 100%;
    height: 12rem;
  }
  .information {
    top: 20px;
    margin-bottom: 30px;
  }
  .location {
    bottom: 40px;
  }
  .payment__button {
    width: 100%;
    padding: 10px;
  }
  .button {
    width: 100%;
    padding: 10px 20px;
  }
  .button::after {
    right: 5px;
    top: 5px;
  }
  .arrow {
    display: none;
  }

  .artist {
    top: 0;
    width: 20%;
    font-size: 10px;
    font-weight: 600;
    color: var(--secondary-color);
    text-transform: uppercase;
  }

  .date_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
    margin: 0;
    padding: 0;
  }

  .time {
    margin: 0;
  }

  .container_calendar_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #d72121;
  }

  .event__title {
    flex: 1;
    display: grid;
    grid-template-columns: 3fr 2fr;
    row-gap: 3rem;
    align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: start;
  }

  h1 {
    font-size: 1.7rem;
    line-height: 1.2;
  }
  .highlight {
    z-index: 0;
    position: absolute;
  }

  .highlight::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.2, 1.1) skewX(-15deg);
    background-image: var(--gradient-primary);
  }

  .container_image {
    width: 100%;
    height: 22rem;
    padding: 0;
    margin: 0;
  }
}
