@import url("https://fonts.googleapis.com/css2?family=Kavoon&display=swap");
:root {
  --primary-color: #ff6b81;
  --secondary-color: #616161;
  --white-color: #ffffff;
  --black-color: #000000;
  --light-grey-color: #f5f5f5;
  --grey-color: #bfbfbf;
  --dark-grey-color: #616161;
  --light-green-color: #4caf50;
  --dark-green-color: #388e3c;
  --light-red-color: #f44336;
  --dark-red-color: #d32f2f;
  --light-blue-color: #03a9f4;
  --dark-blue-color: #5e5ee9;
  --light-orange-color: #ff9800;
  --dark-orange-color: #f57c00;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);

  --gradient-secondary: linear-gradient(to top right, #e59c00, #fae283);
}

.signup_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 800px;
  max-width: 100vw;
  margin: 20px auto;
  background-color: var(--white-color);
}

.signup_container_form {
  position: relative;
  max-width: 115rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  min-height: 700px;
  border: 1px solid var(--grey-color);
}

.signup_container_form_logo_title {
  max-width: 8rem;
  margin-bottom: 1rem;
}

.signup_first_last_name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.close {
  position: absolute;
  top:-1.5rem;
  font-size: 3.6rem;
  right: 0.7rem;
  font-weight: 500;
  z-index: 1;
  color: #ededed;
  cursor: pointer;
}

.signup_first_last_name:active {
  color: var(--dark-grey-color);
}

.signup_email_password {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-gap: 1rem;
  margin-top: 1rem;
}

.signup_container_form_group_password {
  grid-column: 1 / 3;
}

.signup_container_form_fields {
  padding: 2rem;
  max-width: 50rem;
  background-color: var(--white-color);
}

.signup_container_form_fields h1 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--dark-grey-color);
  margin-bottom: 6rem;
}
.signup_container_form_group_password {
  font-size: 14px;
}

#email {
  grid-column: 1 / 3;
  width: 100%;
}

#password {
  grid-column: 1 / 2;
  grid-row: 3 / 4;

  width: 100%;
}

#confirm_password {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  width: 100%;
}

#first_name,
#last_name,
#email,
#password,
#confirm_password {
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  color: var(--secondary-color);
  border: 1px solid var(--dark-grey-color);
  padding: 1rem;
}

#first_name:focus,
#last_name:focus,
#email:focus,
#password:focus,
#confirm_password:focus {
  border: 2px solid var(--light-blue-color);
}

.signup_container_form_group_next {
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-column: 1 / 3;
}
#next {
  background-color: #29a475;
  color: var(--white-color);
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-weight: 900;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}

#next:hover {
  background-color: rgb(50, 147, 78);
  box-shadow: 0 0 10px 0 rgb(50, 147, 78, 0.4);
}

.link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 1rem 2rem;
  color: var(--dark-blue-color);
}

.link:hover {
  background-color: rgba(4, 17, 255, 0.06);
}

.signup_container_form_logo {
  background-image: url("./image/backgound-black.jpg?format");
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border: none;
  outline: none;
}

.highlight_logo {
  font-family: "Kavoon", cursive;
  z-index: 0;
  position: relative;
  display: inline-block;
  margin: 0 10px;
  font-size: 1rem;
}

.highlight_logo::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.2, 1.1) skewX(-15deg);
  background-image: var(--gradient-primary);
}

@media (max-width: 768px) {
  .signup_container {
    width: 100%;
    height: 100%;
  }
  .signup_container_form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .signup_container_form_fields {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
    gap: 0;
    max-width: 50rem;
    background-color: var(--white-color);
  }

  .signup_first_last_name {
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
  }

  .signup_email_password {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0;
    margin: 0;
    grid-gap: 1rem;
    margin-top: 2rem;
  }
  #email {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  #password {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  #confirm_password {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  #next {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }
  .signup_container_form_group_password {
    font-size: 14px;
  }
  #first_name,
  #last_name,
  #email,
  #password,
  #confirm_password {
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--secondary-color);
    border: 3px solid var(--light-grey-color);
    padding: 1rem;
  }
  #first_name:focus,
  #last_name:focus,
  #email:focus,
  #password:focus,
  #confirm_password:focus {
    outline: none;
    border: 1px solid var(--dark-blue-color);
  }
  .signup_container_form_group_next {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
  }
  #next {
    background-color: #29a475;
    color: var(--white-color);
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-weight: 900;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
  }
  #next:hover {
    background-color: rgb(50, 147, 78);
    box-shadow: 0 0 10px 0 rgb(50, 147, 78, 0.4);
  }
  .link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1rem 2rem;
    color: var(--dark-blue-color);
  }
  .link:hover {
    background-color: rgba(4, 17, 255, 0.06);
  }
  .signup_container_form_logo {
    display: none;
  }

  .highlight_logo {
    font-family: "Kavoon", cursive;
    z-index: 0;
    position: relative;
    display: inline-block;
    margin: 0 10px;
    font-size: 1rem;
  }
  .highlight_logo::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.2, 1.1) skewX(-15deg);
    background-image: var(--gradient-primary);
  }
  .signup_first_last_name::after {
    position: absolute;
    content: "X";
    right: 2rem;
    top: 1rem;
    font-size: 2.2rem;
    font-weight: 900;
    cursor: pointer;
  }
}
